/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/contact/ContactSection.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.ContactSection_contact__HxIAD {
	color: white;
	display: flex;
	flex-direction: column;
	font-family: KC;
	padding-top: 10vh;
}

.ContactSection_contactForm__3ZiZS {
	margin-top: 3vh;
	width: 50rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media only screen and (max-width: 992px) {
	.ContactSection_contactForm__3ZiZS {
		width: 20rem;
	}
}

