@font-face {
	font-family: oswald;
	src: url(Oswald-VariableFont_wght.ttf);
	font-weight: 100 1000;
}
@font-face {
	font-family: kcpainted;
	src: url(KCPaintedHand.otf);
}
::-moz-selection {
	/* Code for Firefox */
	/* color: white;
    background: #13c502; */
}
::selection {
	/* color: white;
    background: #13c502; */
}
a {
	color: #fff5f0;
	text-decoration: none;
}
h2 {
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: 500;
	margin: 20px 0px;
}
h4{
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 500;
}
a:hover {
	color: #ec1426;
}
.App {
	color: #fff5f0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: kcpainted, oswald, Arial, Helvetica, sans-serif;
	margin-bottom: 30px;
	justify-content: center;
}
.Header {
	position: sticky;

	display:flex;
	flex-direction: column;
	align-self: flex-start;
	width: 300px;
	margin-right:60px;
	top:40px;
}
.site-body{
	width:45vw;
	margin-top:40px;
}
.blurred-logo-img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width:100%;
	height:200px;

	margin:40px 0px;
}
.blurred-logo-img-loaded{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width:100%;
	height:200px;

	margin:40px 0px;
}
.blurred-promo-img{
	background-image: url('https://res.cloudinary.com/dyyurflew/image/upload/c_scale,h_0.10,w_0.10/xircvd5kwdltkag1zxcw.jpg');
    background-position: center;
	background-size: cover;
	display:flex;
    align-items: center;
    justify-content: center;
	border-radius: 5px;
}
.Socials {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: space-between;
	color: #fff5f0;
	margin-top:260px;
}
.socialIcon {
	font-size: 4vh;
	opacity: 1;
	transition: opacity 1s ease;
	-webkit-transition: opacity 1s;
}
.socialIcon:hover {
	color: #c80000;
}
.socialIcon-unloaded {
	opacity: 0;
	transition: opacity 1s ease;
	-webkit-transition: opacity 1s;
}
.iframe-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	border-radius: 5px;
	margin-bottom: 25px;

	background-image: url('https://res.cloudinary.com/dyyurflew/image/upload/c_scale,h_0.10,w_0.10/mgviquvktrvfkj8sydbj.jpg');
    background-position: center;
	background-size: cover;
}
.iframe-responsive {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.Team {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 55px;
	justify-content: space-around;
}

.no-desktop {
	display: none;
}

.alore-live-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10vh;
}

.alore-live {
	/* border: 1px solid rgba(255, 255, 255, 0.7); */
	padding: 10px;
	border-radius: 3px;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.alore-live-img {
	border-radius: 3px;
	width: 100%;
}

.btn{
    background-color: #ec1426;
    width: 200px;
    padding:15px;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    display:flex;
    flex-direction: row;
    border:none;
    color:white;
    text-align: center;
    justify-content: center;
    align-self: center;
    font-family: oswald;

	transition: all 0.5s;
}

.btn-girly{
    background-color: #7A0F55;
    width: 200px;
    padding:15px;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    display:flex;
    flex-direction: row;
    border:none;
    color:white;
    text-align: center;
    justify-content: center;
    align-self: center;
    font-family: oswald;

	transition: all 0.5s;
}

.btn-girly:hover{
	cursor: pointer;
	background-color: #630c45;
	color:white;
}

.btn:hover{
    color:#fff5f0;
	background-color: #950000;
    cursor: pointer;
}

.promo{
	position: relative;
	margin:auto;
	margin-top:5vh;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.promo-img{
	min-width: 100%;
	height: auto;
	justify-self: flex-end;
	border-radius: 5px;
}

.logo-img{
	width:100%;
}

@media only screen and (max-width: 1024px) {
	.site-body {
		width: 90vw;
		margin:auto;
	}
	.title {
		width: 85vw;
		font-size: 8vh;
		margin-bottom: 2vh;
	}
	h2 {
		text-align: left;
		font-size: 2.8rem;
	}
	.iframe-container {
		border-radius: 0;
	}
	.no-desktop {
		display: block;
	}
	.mobile-btn-container {
		margin: 30px 0px 20px 0px;
		display: flex;
		justify-content: flex-start;
		width: 85vw;
	}
	.mobile-btn {
		background-color: #fff5f0;
		color: black;
		padding: 16px 25px;
		border-radius: 5px;
		font-size: 1.2rem;
	}
	.Header{
		position: relative;
		width:300px;
		margin:auto;
		top:20px;
	}
	.Socials{
		margin-top:250px;
		margin-bottom:75px;
	}
	.promo{
		margin-bottom: 60px;
	}
}

@media only screen and (max-width: 600px) {
	.Header{
		position: relative;
		width:300px;
		margin:auto;
		top:0px;
	}
	.Socials{
		margin-top:250px;
		margin-bottom:50px;
	}
	/* .Info,
	.title,
	.Socials,
	.Team {
		width: 90%;
		margin: auto;
	}
    .alore-live{
        width:100%;
        padding: 0px;
    } */
}
