@font-face {
	font-family: inter;
	src: url(Inter-VariableFont_slnt,wght.ttf);
	font-weight: 100 1000;
}
@font-face {
	font-family: oswald;
	src: url(Oswald-VariableFont_wght.ttf);
	font-weight: 100 1000;
}
::-moz-selection {
	/* Code for Firefox */
	/* color: white;
    background: #13c502; */
}
::selection {
	/* color: white;
    background: #13c502; */
}
a {
	color: white;
	text-decoration: none;
}
h3 {
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: 500;
}
h4{
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 500;
}
a:hover {
	color: #c80000;
}
.App {
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: oswald;
	margin-bottom: 30px;
	justify-content: space-around;
}
.Header {
	position: sticky;
	top:20px;

	display:flex;
	flex-direction: column;
	align-self: flex-start;
	width: 300px;
	margin:20px;
}
.site-body{
	width:65vw;
}
.logo {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width:100%;
	height:auto;

	margin:40px 0px;

	transition: opacity 1s ease;
	-webkit-transition: opacity 1s;
}
.logo-unloaded {
	opacity: 0;

	transition: opacity 1s ease;
	-webkit-transition: opacity 1s;
}
.Socials {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: space-evenly;
	color: white;
	margin-top: 300px;
}
.socialIcon {
	font-size: 4vh;
	opacity: 1;
	transition: opacity 1s ease;
	-webkit-transition: opacity 1s;
}
.socialIcon:hover {
	color: #c80000;
}
.socialIcon-unloaded {
	opacity: 0;
	transition: opacity 1s ease;
	-webkit-transition: opacity 1s;
}
.iframe-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	border-radius: 5px;
	margin-bottom: 25px;
}
.iframe-responsive {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.Team {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 55px;
	justify-content: space-around;
}

.no-desktop {
	display: none;
}

.alore-live-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10vh;
}

.alore-live {
	/* border: 1px solid rgba(255, 255, 255, 0.7); */
	padding: 10px;
	border-radius: 3px;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.alore-live-img {
	border-radius: 3px;
	width: 100%;
}

.btn{
    background-color: #c80000;
    width: 200px;
    padding:20px;
	margin:35px 0 0 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 7px #820000;
	text-align: center;

	transition: all 0.5s;
}

.btn:hover{
    color:white;
}

.promo{
	position: relative;
	margin:auto;
	margin-top:5vh;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.promo-img{
	width:100%;
	height: auto;
	justify-self: flex-end;
	border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
	/* .Info {
		width: 65vw;
	} */
}

@media only screen and (max-width: 1024px) {
	.site-body {
		width: 90vw;
		margin:auto;
	}
	.title {
		width: 85vw;
		font-size: 8vh;
		margin-bottom: 2vh;
	}
	h3 {
		text-align: left;
	}
	.iframe-container {
		border-radius: 0;
	}
	.no-desktop {
		display: block;
	}
	.mobile-btn-container {
		margin: 30px 0px 20px 0px;
		display: flex;
		justify-content: flex-start;
		width: 85vw;
	}
	.mobile-btn {
		background-color: white;
		color: black;
		padding: 16px 25px;
		border-radius: 5px;
		font-size: 1.2rem;
	}
	.Header{
		position:relative;
		width:250px;
	}
	.Socials{
		margin-top:220px;
	}
}

@media only screen and (max-width: 600px) {
	/* .Info,
	.title,
	.Socials,
	.Team {
		width: 90%;
		margin: auto;
	}
    .alore-live{
        width:100%;
        padding: 0px;
    } */
}
