@font-face {
    font-family: conthrax;
    src: url(conthrax-sb.otf);
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #cd84df;
}

::selection {
    color: white;
    background: #cd84df;
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    color:mediumorchid;
}

.Overlay{
    position: absolute;
    background-attachment:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: #353839;
    opacity: 0.4;
    z-index: -999;

    transition: opacity 1.5s ease;
    -webkit-transition: opacity 1.5s;
}

.Overlay-unloaded{
    position: absolute;
    background-attachment:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: black;
    opacity: 1;
    z-index: -999;
    
    transition: opacity 1.5s ease;
    -webkit-transition: opacity 1.5s;
}

.App{
    color:white;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: conthrax;
    height:100vh;
}

.title{
    font-style: italic;
    font-size:80px;
    margin-top:0;
    margin-bottom: 0;
    opacity:1;
    line-height: 75px;

    transition: opacity, margin 1s ease;
    -webkit-transition: opacity, margin 1s;
}

.title-unloaded{
    opacity:0;
    font-size:80px;
    font-style: italic;

    transition: opacity, margin 1s ease;
    -webkit-transition: opacity, margin 1s;
}

.Info{
    background-color: black;
    padding:40px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
}

.socialIcon{
    margin-right:20px;
    font-size:40px;
    opacity:1;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s;
}

.socialIcon-unloaded{
    opacity:0;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s;
}

@media only screen and (max-width: 600px) {
    body{
        background-image: url('./images/aloremobile.jpg');
        background-attachment:fixed;
        overflow:auto;
    }
    .Overlay{
        position: fixed;
        height:100%;
    }

    .Info{
        padding:0;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        width:100vw;
    }
    .title{
        width:85vw;
        font-size:60px;
    }
    
    .Socials{
        width:85vw;
    }
}

@media only screen and (max-width: 300px) {
    .Info, .title, .Socials{
        width:90vw;
    }
}