.form-container{
    
}

.contact-form{
    display:flex;
    flex-direction: column;
    margin-bottom: 45px;
    font-size:1.5vh;
    text-transform: uppercase;
}

.input, .input-box{
    margin-bottom: 12px;
    border-radius: 3px;
    border:none;
    padding:10px;
    font-family: Inter;
    font-size:1.1rem;
}
.g-recaptcha{
    align-self: center;
    margin-bottom: 10px;
    margin-top:10px;
}
.grecaptcha-badge{
    display:none;
}
.input-label{
    margin-bottom:3px;
    font-size:1.1rem;
    font-family: oswald;
    letter-spacing:0.8px;
    font-weight: 500;
}
.required{
    color:red;
}

.submit-btn{
    background-color: #c80000;
    width: 200px;
    padding:15px;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    display:flex;
    flex-direction: row;
    box-shadow: 0 7px #820000;
    border:none;
    color:white;
    text-align: center;
    justify-content: center;
    align-self: center;
    font-family: oswald;
}

.submit-btn:hover{
    background-color: #950000;
    cursor: pointer;
}

.success-msg{
    min-height: 95px;
    font-style: italic;
}

@media only screen and (max-width: 1024px) {
    .input-label{
        font-size:1.3rem;
    }
    .input, .input-box{
        font-size:1.1rem;
    }
}

@media only screen and (max-width: 600px) {
    
}