p{
    margin:0;
}

.TeamImg{
    border-radius: 5px 5px 0px 0px;
    opacity:1;
    height:100%; 
    width: 100%; 
    object-fit: cover;
    transition: opacity,filter 0.5s ease;
    -webkit-transition: opacity,filter 0.5s;
}
.TeamImg-unloaded{
    opacity:0;
    transition: opacity,filter 0.5s ease;
    -webkit-transition: opacity,filter 0.5s;
}

.team-card-container{
    margin: 1vh 1vw;
    border-radius: 5px;
    background-color: #fff5f0;

    transition: border 0.5s ease;
    -webkit-transition: border 0.5s;
}

.blurred-team-img{
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
    height:21vw;
    width:17vw;
    border-radius: 5px;
}

.card-img-container{
    height:21vw;
    width:17vw;

    display:flex;
    align-items: center;
    justify-content: center;
}

.card-body{
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px 0px;
    font-family: oswald, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    padding:10px;
}

.card-link{
    color: #ec1426;
    padding:0px 2px;
    border-radius: 8px;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s;
}

.card-link:hover{
    color:#fff5f0;
    background-color: #ec1426;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .card-img-container{
        height:43vw;
        width:35vw;
    }
    .blurred-team-img{
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .card-img-container{
        height:80vw;
        width:70vw;
    }
}