a:hover{
    color:white;   
}
.TeamCard{
    display:grid;
}
.Team{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.TeamImg{
    grid-column: 1;
    grid-row: 1;
    width:125px;
    border-radius: 10px;
    opacity:1;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s;
}
.TeamImg-unloaded{
    opacity:0;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s;
}
.hover-active{
    grid-column: 1;
    grid-row: 1;
    z-index:99;
    background-color: black;
    opacity:0.87;
    margin:0;
    pointer-events: none;
    display:flex;
    justify-content: center;
    align-items: center;
    width:125px;
    opacity:0.8;

    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s;
}
.hover-inactive{
    grid-column: 1;
    grid-row: 1;
    z-index:99;
    background-color: black;
    opacity:0.87;
    margin:0;
    pointer-events: none;
    display:flex;
    justify-content: center;
    align-items: center;
    width:125px;
    opacity:0;

    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s;
}
.hover-text{
    font-size: 0.95rem;
    text-align: center;
    padding:10px;
}

@media only screen and (max-width: 1355px) {
    .TeamImg{
        width:100px;
    }
    .hover-active{
        width:100px;
    }
    .hover-inactive{
        width:100px;
    }
}

@media only screen and (max-width: 1024px) {
    .Team{
        row-gap:10px;
        width:90vw;
        margin-bottom: 5vh;
    }
    .TeamImg{
        width:150px;
    }
    .hover-active{
        display:none;
    }
    .hover-inactive{
        display:none;
    }
}

@media only screen and (max-width: 300px) {
    .Team{
        gap: 5px;
    }
}